* {
    margin: 0;
    padding: 0;
}

.site {
    width: 100%;
    min-width: 960px;
}

li {
    width: 70%;
    margin: 0 auto;
    border: 2px solid grey;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.button {
    text-align: center;
    color: white;
    display: block;
    border-radius: 10px;
    height: 20px;
    width: 200px;
    line-height: 20px;
}

.rename {
    background-color: #330158;
}

.del {
    background-color: #580202;
    margin-left: auto;
}

.edit {
    background-color: #005600;
}



form {
    width: 400px;
    padding: 30px;
    border: 5px solid black;
    border-radius: 30px;
    text-align: center;
    margin: 30px auto;
}

form input {
    display: block;
    padding: 10px;
    margin: 15px auto;
}

form button {
    margin: 15px auto;
    display: block;
    height: 50px;
    font-size: 24px;
    color: white;
    background-color: darkblue;
}

.editForm {
    width: 90%;
}

.editForm textarea {
    resize: none;
    width: 85%;
    min-height: 600px;
}

.forms {
    display: flex;
    justify-content: space-between;
}
